{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="sub-cover-page" style="background-image: url(https://via.placeholder.com/500);">
    <div class="text-white text-center rgba-black-light py-5 px-4" style="min-height: 30vh; position: relative;">
        <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h2 class="card-title h2 my-4 py-2">Members</h2>
        </div>
    </div>
</div>

<div style="background-color: whitesmoke;">
    <div class="container" style="padding-top: 50px;">
        <div class="card" style="width: auto; margin: auto; margin-bottom: 50px;">
            <div class="mx-auto avatar-bg purple-gradient" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                <div class="mx-auto avatar-left white rounded-circle">
                    <img class="rounded-circle" src="{{professor.profile_image.url}}" style="width: 200px; height: 200px; margin: 5px;">
                </div>
            </div>
            <h5 class="mx-auto avatar-subtitle-left">Professor</h4>
            <h4 class="mx-auto text-center avatar-title-left display-4">{{professor.profile_name}}</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 mt-5">
                        <h4 class="card-title text-center">교수 소개</h4>
                        <p class="text-justify">{{professor_description}}</p>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <h4 class="card-title text-center">저서</h4>
                        <ul class="list-group text-center">
                            {% for book in professor_books %}
                            <li class="list-group-item">{{book}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <h4 class="card-title text-center">이력</h4>
                        <ul class="list-group text-center">
                            {% for history in professor_history %}
                            <li class="list-group-item">{{history}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="display-4" style="text-align: center;">Undergraduate</h1>
        <div class="row mt-5">
            {% for undergraduate in undergraduates %}
            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 300px; margin: auto; margin-bottom: 50px;">
                    <div class="mx-auto avatar-bg peach-gradient" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                        <div class="mx-auto avatar-center white rounded-circle">
                            <img class="rounded-circle" src="{{undergraduate.profile_image.url}}" style="width: 200px; height: 200px; margin: 5px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{undergraduate.profile_name}}</h4>
                        <hr>
                        <p><i class="fas fa-quote-left"></i> {{undergraduate.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h1 class="display-4 mt-5" style="text-align: center;">Graduate</h1>
        <div class="row mt-5">
            {% for graduate in graduates %}
            <div class="col-lg-4 col-md-6">
                <div class="card" style="width: 300px; margin: auto; margin-bottom: 50px;">
                    <div class="mx-auto avatar-bg aqua-gradient" style="border-top-left-radius: 3px; border-top-right-radius: 3px;">
                        <div class="mx-auto avatar-center white rounded-circle">
                            <img class="rounded-circle" src="{{graduate.profile_image.url}}" style="width: 200px; height: 200px; margin: 5px;">
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{graduate.profile_name}}</h4>
                        <hr>
                        <p><i class="fas fa-quote-left"></i> {{graduate.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}